@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#content{
    margin-left: 10% ;
    margin-right: 10% ;
    margin-top: 160px;
}
.title{
    margin-top: 2%;
    margin-bottom: 2% ;
}

h2{
    margin-top: 3%;
    margin-bottom: 1%;
}

h3{
    margin-top: 3%;
    margin-bottom: 1%;
}

h4{
    margin-top: 3%;
    margin-bottom: 1%;
}

body{
    background: #efece6;
    font-family: 'Open Sans';
}

/* Top Navigation bar */

.header-nav{
    min-height: 75px;
    background: #fff;
    color: #404040;
}
.header-nav .navbar-nav > li > a{
    color: #3799FF;
}
.nav-top{
    margin-top: 15px;
}

/* Bottom Navigation Bar */

.bottom-nav{
    border-top: solid 5px #202020;
    margin-top:75px;
    background:#404040;
    max-height: 56px;
}
.c-dropdown-menu{
    display: none;
}
.bottom-nav .navbar-nav > li > a{
    color: #CCC;
    font-size: 17px;
}

.bottom-nav .navbar-nav > li > a:hover, .bottom-nav .navbar-nav > li > a:focus{
                                            color: #FFF;
                                         
                                        }


.bottom-nav .navbar-nav > .open > a:hover, .bottom-nav .navbar-nav > .open > a:focus{
                                               background:transparent;
                                               color: #FFF;
                                           }
                                              
                                              
.navbar-nav > li > .c-dropdown-menu{
    border-radius : 0;
    box-shadow: none;
    background: #333;
    padding: 0;
    border: none;
    position: absolute;
    min-width: 250px;
    list-style: none;
}
.bottom-nav .c-dropdown-menu > li{
    border-top: solid 1px #666;
    padding: 10px 30px;
}
.bottom-nav .c-dropdown-menu > li:hover{
    background: #3799FA;
    border-top: solid 2px #3C5BFF;
}

.bottom-nav .c-dropdown-menu > li > a, .bottom-nav .c-dropdown-menu > li > a:hover, .bottom-nav .c-dropdown-menu > li > a:hover{
                                                                                    color: #FAFAFA;
                                                                                    font-size: 18px;
                                                                                    background: none;
                                                                                    text-decoration: none;
                                                                                }
footer{
    margin-top: 30px;
    background: #fff;
    padding: 20px 40px;
}

.footer-links{
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
}
.footer-links > li > a{
    font-size: 14px;
}

.footer-links > li{
    padding: 5px 0 5px 0;
}
.footer-links > li > a:hover, .footer-links > li > a:focus{
                                  text-decoration: none;
                                  color: #3799FF;
                              }
.footer-heading{
    padding-bottom: 10px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    border-bottom: solid 1px #ccc;
}

p, li{
    font-size: 17px;
}

li.gitLink{
    float: right ;
}

.breadcrumb > li + li.gitLink::before{
    content: "";
}

.breadcrumb > li + li::before{
    content: ">";
}